@*
    View dosyaları .cshtml uzantılı dosyalardır => Razor(asp.net mvc'deki viewleri hızlıca programlamak için geliştirilmiş teknoloji) 
    sayesinde csharp + html kodları beraber kullanılabilir
*@
@{

}
<h3>  Tüm ürünler </h3>
