<h3>
    TempData of TestActionRedirect
    @{
        foreach (var product in TempData["productsList"] as List<mvc_tutorial1.Models.Product>)
        {
            <li>  @product.ProductName => @product.Quantity pcs </li>
        }
    }
</h3>


@*Example of URLHelper and HTMLHelper*@
<h3>
    @*@Url.Action("Index2", "Home")*@
    Go to @Html.ActionLink("Index2", "Index2", "Home")
</h3>
<h3> 
    Go to @Html.ActionLink("Index", "Index", "Home")
</h3>
